body {
	font-family: 'Josefin Sans', sans-serif; 
	background-color: black;
}
header {
	font-family: 'Lobster', cursive; 
	text-align: center; 
	font-size: 36pt; 
	color: white;
}
#nav_bar { 
	width: 80%; 
	margin: 0 auto; 
	border-radius: 5px;
	height:20px;
}
a:link    {
	color:white; 
	background-color:transparent; 
	text-decoration:none
}
a:visited {
	color:white; 
	background-color:transparent; 
	text-decoration:none
}
a:hover   {
	color:hotpink; 
	background-color:transparent; 
	text-decoration:underline
}
a:active  {
	color:red; 
	background-color:transparent; 
	text-decoration:underline
}
#search_bar {
	float:right; 
	width:200px;
	height:30px;
	background-color:white;
	border-radius: 5px;
	padding-right: 15px;
}
.search {
 	padding:8px 15px;
    background:rgba(255, 255, 255, 0.2);
    border:0px solid #ffffff;
}
#main-content-bar {
	height: 60px;
	width: 80%;
	margin: 0 auto;
	background-color: hotpink;
}
#main-content-nav {
	margin-top: 1px;
	font-size:20pt;
	padding: 15px 0px 15px 10px;
}
.main_link {
	padding: 5px 20px 0px 20px;
}